<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About us</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="about us .css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
     
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
 



</head>

<body>
    

    <nav id="navbar-example2" class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <a class="navbar-brand ms-5" href="pro.html" id="navbar-icon">Work Enhance</a>
        <ul class="nav nav-pills mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
        </li>
    
          <li class="nav-item">
            <a class="nav-link" href="/contact_us">Contact us</a>
          </li>
          <li class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/sign_up">Register AS User</a></li>
              <li><a class="dropdown-item" href="/admin_login">Admin_login</a></li>
              <li><a class="dropdown-item" href="/disworker">See Workers</a></li>
            </ul>
          </li>
        </ul>
      </nav>

      <br>
    
    <div class="container">
        <h1> Why Choose Work enhance</h1>
        <p>Work enhance is the most trusted leading service provider in Pakistan. We have hired all the in-house staff
            so our
            customers can rely on us for any services. All our workers are background-verified and veterans in their
            field. We only use hi-tech machinery and tools to resolve all your issues effectively and in a matter of
            time and at your convenience.First, let us qualify this concept a bit. Guaranteed services are very much
            needed for time-critical services. Kam Kaj value this above everything, unlike any other companies our team
            makes sure that our customers are satisfied even after availing of the service.</p>
    </div>
    <br><br>
    <div class="card mx-auto mb-3" style="max-width: 1200px; height: 350px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../public/images/9.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Your Safety And Security Is Our First Priority</h5>
                    <p class="card-text">To ensure customer safety and security we provide the most secure service
                        possible. Every single one of our technicians undergoes a thorough background criminal check
                        assessment. So, you can trust them to enter your premises or your property. Also, all our
                        professionals are wrok enhance in-house staff. So, you can completely rely on us with peace of
                        mind. </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card mx-auto mb-3" style="max-width: 1200px; height: 350px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">High-Quality And Latest Equipment</h5>
                    <p class="card-text"> work enhance only believes in using high-tech equipment and machinery with
                        imported
                        products to resolve all your issues and difficulties. We are always upgrading our equipment and
                        tools to make sure that we deliver more than our customers’ expectations.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../public/images/10.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>

    <br><br>
    <div class="card mx-auto mb-3" style="max-width: 1200px; height: 300px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../public/images/11.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Post Service Guaranteed</h5>
                    <p class="card-text"> Work enhance provides multiple days service guarantees on many of our
                        services.
                        First, let us qualify this concept a bit. Guaranteed services are very much needed for
                        time-critical services. work enhance value this above everything, unlike any other companies our
                        team
                        makes sure that our customers are satisfied even after availing of the service.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card mx-auto mb-3" style="max-width: 1200px; height: 300px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">All Solutions Under One Platform</h5>
                    <p class="card-text"> Pros of choosing work enhance:

                    <ol> One solution to all your needs under one roof.
                        Usually less expensive than a comparable ordering of third-party vendor solutions.
                        Work enhance has the top functionality service for each domain.
                        Quicker implementation under the given time frame.
                        Single company to all your vendor needs.</ol>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../public/images/1.jpg" class="img-fluid rounded-start" alt="...">
            </div>
        </div>
    </div>
    <br><br>
    <div class="card mx-auto mb-3" style="max-width: 1200px; height: 350px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../public/images/4.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Timely And Convenient Services</h5>
                    <p class="card-text"> At our core, we are more than just a service provider; we are your dedicated
                        partner in success. With an unwavering commitment to excellence, we pride ourselves on
                        delivering top-notch services tailored to meet your unique needs. Our team of skilled
                        professionals goes above and beyond to ensure a seamless experience, offering innovative
                        solutions that propel your business forward. Customer satisfaction is not just a goal; it's our
                        driving force. From cutting-edge technology to personalized support, we strive to exceed
                        expectations at every turn. Join hands with us, and let's embark on a journey of growth and
                        prosperity together. Your success is our success, and we are here to make it happen.</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container1 my-5">

      <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container1 p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
  
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
  
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
  
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
  
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Work Enhance : All Rights Reserved
          </div>
        <!-- Copyright -->
      </footer>
  
    </div>
    <!-- End of .container -->
</body>

</html>