<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        .contact {
            position: relative;
            min-height: 100vh;
            padding: 50px 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: url('../public/images/14.jpg');
            background-size: cover;
        }

        .contactform {
            width: 40%;
            padding: 40px;
            background: #fff;



        }

        .contactform h2 {
            font-size: 30px;
            color: #333;
            font-weight: 500;




        }

        .contactform .inputbox {
            position: relative;
            width: 100%;
            margin-top: 10px;

        }

        .contactform .inputbox input,
        .contactform .inputbox textarea {
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 2px solid #333;
            outline: none;
            resize: none;




        }

        .contactform .inputbox span {

            position: absolute;
            left: 0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color: #666;



        }

        .contactform .inputbox input:focus~span,
        .contactform .inputbox input:valid~span,
        .contactform .inputbox textarea:focus~span,
        .contactform .inputbox textarea:valid~span {

            color: #e91e63;
            font-size: 12px;
            transform: translateY(-20px);

        }

        .contactform .inputbox input[type="submit"] {

            width: 100px;
            background: #00bcd4;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 10px;
            font-size: 18px;



        }
    </style>


    <script>
        function validatePassword() {

            var actualPassword = "123@555";


            var enteredPassword = document.getElementById("password").value;


            if (enteredPassword === actualPassword) {
                alert("Login successful! Redirecting to admin page.");

                window.location.href = "/admin";
            } else {
                alert("Incorrect password. Access denied.");
            }
        }
    </script>
</head>

<body>
    <div class="contact">
        <div class="contactform">
            <form>
                <h2>Admin Login </h2>

                <div class="inputbox" id="ppass"><input type="password" id="password" required>
                    <span>Password</span>
                </div>

                <div class="inputbox">
                    <button type="button" onclick="validatePassword()">Login</button>
                </div>
        </div>

        </form>
    </div>
</body>

</html>