<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <title>Contact us</title>
    <link rel="stylesheet" href="../public/stylesheets/contact us.css">
    
</head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

  

<body>
  
  <nav id="navbar-example2" class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <a class="navbar-brand ms-5" href="pro.html" id="navbar-icon">Work Enhance</a>
    <ul class="nav nav-pills mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about_us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services">Services</a>
    </li>

      <li class="nav-item">
        <a class="nav-link" href="/contact_us">Contact us</a>
      </li>
      <li class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/sign_up">Register AS User</a></li>
          <li><a class="dropdown-item" href="/admin_login">Admin_login</a></li>
          <li><a class="dropdown-item" href="/disworker">See Workers</a></li>
        </ul>
      </li>
    </ul>
  </nav>


    <section class="contact">
        <div class="content">
            <h2>Contact us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aut dolorum labore quas. Eligendi quis
                voluptatibus atque ipsum distinctio a!</p>


        </div>

        <div class="container">
            <div class="contactinfo">
                <div class="box">
                    <div class="icons">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>05 house <br>street no 4<br>lahore</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icons"><i class="fa-solid fa-phone"></i></div>
                    <div class="text">
                        <h3>Phone NO</h3>
                        <p>0333-8878205</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icons"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="text">
                        <h3>EMAIL</h3>
                        <p>syedrazah76@gmail.com</p>
                    </div>
                </div>
            </div>
            <!-- <div class="contactform">
                <form>
                    <h2>Send Message</h2>
                    <div class="inputbox"><input type="text " name="" required="required">
                    <span> FULL NAME</span>
                    </div>
                  
                    <div class="inputbox"><input type="text " name="" required="required">
                    <span>EMAIL</span>
                    </div>
                   <div>
                   <textarea required="required"></textarea>
                    <span>Type your Message...</span>
                </div>
                    <div class="inputbox">
                        <input type="submit" name="" value="Send">
                       
                        </div>
                      

                    </div> -->

                </form>
            </div>
        </div>
    </section>
    <div class="container1 my-5">

      <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container1 p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-facebook-f"></i></a>
  
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
  
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                class="fab fa-linkedin-in"></i></a>
  
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
  
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Work Enhance : All Rights Reserved
        </div>
        <!-- Copyright -->
      </footer>
  
    </div>
    <!-- End of .container -->
          
      

</body>

</html>